<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/view.css">
    <style>
    </style>
</head>

<body>
    <div id="menu-bar" onclick="hideMenu()">
        <div>
            <ul>
                <li><span onclick="addFilterLevel(this, 'infoLog')" class="info listBudge clickable">INFO<span class="logCounter" id="info"></span></span></li>
                <li><span onclick="addFilterLevel(this, 'traceLog')" class="trace listBudge clickable">TRACE<span class="logCounter" id="trace"></span></span></li>
                <li><span onclick="addFilterLevel(this, 'errorLog')" class="error listBudge clickable">ERROR<span class="logCounter" id="error"></span></span></li>
                <li><span onclick="addFilterLevel(this, 'warningLog')" class="warning listBudge clickable">WARN<span class="logCounter" id="warning"></span></span></li>
                <li><span onclick="addFilterLevel(this, 'debugLog')" class="debug listBudge clickable">DEBUG<span class="logCounter" id="debug"></span></span></li>
                <li><span onclick="addFilterLevel(this, 'fatalLog')" class="fatal listBudge clickable">FATAL<span class="logCounter" id="fatal"></span></span></li>

            </ul>
            <div class="frequencySelector">
                <label>Select update frequency</label>
                <select onChange="updateFrequency(this.value)">
                    <option value="5000" selected>5 seg</option>
                    <option value="10000">10 seg</option>
                    <option value="30000">30 seg</option>

                </select>
            </div>
            <img id="loader" src="/loader.gif">
            <span id="updatedSpan">updated</span>

            <table id="distrTable">
                <tr>
                    <td id="infoTd"></td>
                    <td id="traceTd"></td>
                    <td id="errorTd"></td>
                    <td id="warningTd"></td>
                    <td id="debugTd"></td>
                    <td id="fatalTd"></td>
                </tr>



            </table>
            

        </div>

    </div>

    <div id="logCanvas">

    </div>
</body>

<script type="text/javascript" src="/index.js"></script>

</html>